---
import Navigation from './Navigation.astro';
const pageTitle = "astro.senda.rocks";
---
<header>
    <h1><a href="/">astro.senda.rocks</a></h1>
    <nav>
        <Navigation />
    </nav> 
</header>