---
import Hamburguer from './Hamburguer.astro';
import Navigation from './Navigation.astro';
const pageTitle = "My First Astro Project";
---
<header>
    <nav>
        <Hamburguer />
        <Navigation />
    </nav>

    <h1>{pageTitle}</h1>
</header>